.ui-custom-checkboxs input {vertical-align:middle}
.ui-custom-checkboxs-title {margin:0px -10px;border-bottom:1px dashed #CCC;padding:10px;padding-top:0px;margin-bottom:10px}
.ui-custom-checkboxs-title label {font-weight:bold;margin:0px 10px 0px 5px}
.ui-custom-checkboxs-item {float:left;display:block;width:138px;padding-bottom:5px}
.ui-custom-checkboxs-item label {margin-left:5px}