.ui-calendar {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 20px;
    border: 1px solid #A9ADB6;
    background-color: #FFF;
    vertical-align: middle;
    *display: inline;
    zoom: 1;font-size: 12px;
}
.ui-calendar-focus {
    border:1px solid #0EA0EF !important;box-shadow:0 0 10px #09F;
    outline:0; -webkit-box-shadow:0px 0px 10px #6FA1D9;
}
.ui-calendar-focus .ui-calendar-text {color: #20709C}
.ui-calendar-error {
    border: 1px solid #F00;
}
.ui-calendar-text {
    display: block;
    height: 19px;
    padding-left: 5px;
    margin-right: 40px;
    border-top: 1px solid #F0F0F0;
    line-height: 18px;
    font-size: 12px;
}
.ui-calendar-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    background: url(img/ecui.gif?$Version$) 0 -160px;
}
.ui-calendar-cancel {
    position: absolute;
    top: 1px;
    right: 45px;
    height: 19px;
    width: 8px;
    background: url(img/ecui.gif?$Version$) -77px -160px;
}
.ui-calendar-default {
    color: #979797;
}
.ui-calendar-panel {
    z-index: 65535;
    width: 195px;
    border: 1px solid #C0CCDC;
    background: #FFF;
}
.ui-calendar-panel .ui-button {
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url(img/ecui.gif?$Version$);
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 12px;
}
.ui-calendar-panel-buttons {
    height: 25px;
    padding: 3px 0px 0 5px;
    border: 1px solid #F5F6FA;
    background: url(img/ecui-bg.gif?$Version$) 0 -168px;
}
.ui-calendar-panel .ui-calendar-panel-btn-prv {
    width: 18px;
    height: 18px;
    border: 1px solid #AAADB6;
    background-position: -39px -160px;
    vertical-align: middle;
}
.ui-calendar-panel .ui-calendar-panel-btn-nxt {
    width: 18px;
    height: 18px;
    border: 1px solid #AAADB6;
    background-position: -57px -160px;
    vertical-align: middle;
}
.ui-calendar-panel-slt-year {
    width: 65px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
.ui-calendar-panel-slt-month {
    width: 59px;
    margin-right: 5px;
    vertical-align: middle;
}
.ui-calendar-panel-month-view {
    padding: 0 2px 2px;
    border-top: 1px solid #C0CCDC;
    cursor:default;
}
.ui-calendar-panel-month-view table {
    margin: 0 auto;
    border-collapse: separate;
}
.ui-calendar-panel-month-view table td {
    cursor: default;
    width: 24px;
    height: 20px;
    margin: 5px;
    border: 1px solid #FFF;
    text-align: center;
    line-height: 20px;
    font-size: 12px
}
.ui-calendar-panel-month-view .ui-monthview-title {
    font-weight: bold;
}
.ui-calendar-panel-month-view .ui-monthview-item-hover {
    border-color: #C2D79C;
    background-color: #DCEDC3;
}
.ui-calendar-panel-month-view .ui-monthview-item-selected {
    border-color: #5F9303;
    background-color: #7BBE0E;
    color: #FFF;
    font-weight: bold;
}
.ui-calendar-panel-month-view .ui-monthview-item-disabled {
    color: #B9BDC6;
}
.ui-month-calendar {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 20px;
    border: 1px solid #A9ADB6;
    background-color: #FFF;
    vertical-align: middle;
    *display: inline;
    zoom: 1;
}
.ui-month-calendar-text {
    display: block;
    height: 19px;
    margin-right: 40px;
    padding-left: 5px;
    border-top: 1px solid #F0F0F0;
    line-height: 18px;
    font-size: 12px;
}
.ui-month-calendar-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    background: url(img/ecui.gif?$Version$) 0 -160px;
}
.ui-month-calendar-cancel {
    position: absolute;
    top: 1px;
    right: 45px;
    height: 19px;
    width: 8px;
    background: url(img/ecui.gif?$Version$) -77px -160px;
}
.ui-month-calendar-default {
    color: #979797;
}
.ui-month-calendar-panel {
    z-index: 65535;
    width: 225px;
    border: 1px solid #C0CCDC;
    background: #FFF;
}
.ui-month-calendar-panel .ui-button {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(img/ecui.gif?$Version$);
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.ui-month-calendar-panel-buttons {
    height: 25px;
    padding: 3px 10px 0;
    border: 1px solid #F5F6FA;
    background: url(img/ecui-bg.gif?$Version$) 0 -168px;
}
.ui-month-calendar-panel .ui-month-calendar-panel-btn-prv {
    width: 18px;
    height: 18px;
    border: 1px solid #AAADB6;
    background-position: -39px -160px;
    vertical-align: middle;
}
.ui-month-calendar-panel .ui-month-calendar-panel-btn-nxt {
    width: 18px;
    height: 18px;
    border: 1px solid #AAADB6;
    background-position: -57px -160px;
    vertical-align: middle;
}
.ui-month-calendar-panel-slt-year {
    width: 65px;
    margin-right: 45px;
    margin-left: 45px;
    vertical-align: middle;
}
.ui-month-calendar-panel-slt-month {
    width: 45px;
    margin-right: 20px;
    vertical-align: middle;
}
.ui-month-calendar-panel-month-view {
    padding: 0 2px 2px;
    border-top: 1px solid #C0CCDC;
    cursor: default;
}
.ui-month-calendar-panel-month-view table {
    margin: 0 auto;
    border-collapse: separate;
}
.ui-month-calendar-panel-month-view table td {
    width: 46px;
    height: 30px;
    cursor: default;
    border: 1px solid #FFF;
    text-align: center;
    line-height: 20px;
}
.ui-month-calendar-panel-month-view .ui-monthviewonly-title {
    font-weight: bold;
}
.ui-month-calendar-panel-month-view .ui-monthviewonly-item-hover {
    border-color: #C2D79C;
    background-color: #DCEDC3;
}
.ui-month-calendar-panel-month-view .ui-monthviewonly-item-selected {
    border-color: #5F9303;
    background-color: #7BBE0E;
    color: #FFF;
    font-weight: bold;
}
.ui-month-calendar-panel-month-view .ui-monthviewonly-item-disabled {
    color: #B9BDC6;
}

.ui-multi-calendar {
    display: inline-block;
    position: relative;
    width: 212px;
    height: 20px;
    border: 1px solid #A9ADB6;
    background-color: #FFF;
    vertical-align: middle;
    *display: inline;
    zoom: 1;
}
.ui-multi-calendar ul {
    list-style: none;
}
.ui-multi-calendar-text {
    height: 18px;
    margin-right: 40px;
    padding-left: 3px;
    line-height: 18px;
    font-size: 12px;
    position: absolute;
    top: 1px!important; display: block;
    cursor: default;
}
.ui-multi-calendar-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    background: url(img/ecui.gif?$Version$) 0 -160px;
}
.ui-multi-calendar-cancel {
    position: absolute;
    top: 1px;
    right: 45px;
    height: 19px;
    width: 8px;
    background: url(img/ecui.gif?$Version$) -77px -160px;
}
.ui-multi-calendar-default {
    color: #979797;
}
.ui-multi-calendar-layer {
    padding: 15px 0 0 10px;
    border: 1px solid #7D889A;
    border-top-width: 2px;
    background-color: #FFF;
}
.ui-multi-calendar-layer-text strong {
    color: #104A78;
}
.ui-multi-calendar-layer-cal-area {
    display: inline-block;
    margin-right: 10px;
    *display: inline;
    zoom: 1;
}
.ui-multi-calendar-layer-buttons {
    margin-top: 10px;
    padding-bottom: 5px;
}
.ui-multi-calendar {
    position:relative;
    width:209px;height:20px;
    border:1px solid #A9ADB6;
    background-color:#FFF;
    display:inline-block;
    vertical-align:middle;
    *display:inline;
    zoom:1
}
.ui-multi-calendar-panel {
    width:422px;border:1px solid #7D889A;
    padding:2px 0px 0px;
    background-color:#FFF;z-index:65535;
    font-size: 12px;
    -moz-user-select:none;-webkit-user-select:none;user-select:none;

}
.ui-multi-calendar-panel-text{
    line-height: 22px;height: 22px
}
.ui-multi-calendar-panel-default-text{
    color: #CCC
}
.ui-multi-calendar-panel-text strong {
    color:#104A78;line-height: 22px;height: 22px
}
.ui-multi-calendar-panel-cal-area {
    float: left;width: 200px;margin-left: 8px;
    zoom:1
}
.ui-multi-calendar-panel-buttons  {
    padding:5px 8px; clear: both;
}
.ui-calendar-disabled {color: #CCC}
.ui-multi-calendar-panel-quick {
    display: block; border-bottom: 1px solid #E0E7F1;
    line-height: 20px;color: #CCC; padding: 0 2px;
}
.ui-multi-calendar-panel-quick-item {
    display: inline-block;padding: 2px 5px;color: #5F91DC;text-decoration: underline; cursor: pointer;
}
.ui-multi-calendar-panel-quick-item:hover {color: red}
.ui-multi-calendar-panel-quick-item-selected {
    color: #000;text-decoration: none;cursor: default;font-weight: bold;
}
.ui-multi-calendar-panel-quick-item-selected:hover {color: #000; cursor: text;}