.ui-pager {
    display: inline-block;
    color: #137BD4;
    line-height: 18px;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.ui-pager-items {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
}
.ui-pager-button, 
.ui-pager-item {
    display: inline-block;
    position: relative;
    height: 18px;
    margin-right: 5px;
    border: 1px solid #F8F8F8;
    vertical-align: middle;
    color: #036CB4;
    cursor: default;
    *display: inline;
    *zoom: 1;
}
.ui-pager-button{
    line-height: 18px
}
.ui-pager-item {
    padding: 0 8px;
    border-color: #DDD;
}
.ui-pager-button-hover, 
.ui-pager-item-hover {
    background: #FFF;
    border-color: #999999;
}
.ui-pager-button-icon {
    position: absolute;
    width: 8px;
    height: 18px;
    background: url(img/ecui.gif?$Version$) -44px -200px no-repeat;
}
.ui-pager-button-prv {
    padding: 0 10px 0 20px;
}
.ui-pager-button-prv .ui-pager-button-icon {
    left: 3px;
    top: 0px;
    background-position: -44px -200px;
}
.ui-pager-button-nxt {
    padding: 0 20px 0 10px;
}
.ui-pager-button-nxt .ui-pager-button-icon {
    right: 3px;
    top: 0;
    background-position: -62px -200px;
}
.ui-pager-button-active, 
.ui-pager-item-active, 
.ui-pager-item-selected {
    border-color: #036CB4;
    background-color: #036CB4;
    color: #F8F8F8; font-weight: bold;
}
.ui-pager-button-disabled {
    background: none;
    color: #CCC;
}
.ui-pager-button-prv-disabled .ui-pager-button-icon {
    background-position: -44px -218px;
}
.ui-pager-button-nxt-disabled .ui-pager-button-icon {
    background-position: -62px -218px;
}

.ui-ext-pager {
    display: block;
    color: #3C75A2;
    *display: block;
    *zoom: 1;
}
.ui-ext-pager-page{
    display: inline-block;
}
.ui-ext-pager-sum {
    display: inline-block;
    margin-right: 5px;
    *display: inline;
    *zoom: 1;
}
.ui-ext-pager-sum em {
    margin: 0 3px;
    font-style: normal;
}
.ui-ext-pager-pagesize {
    display: inline-block;
    margin-left: 5px;
    *display: inline;
    *zoom: 1;
}
.ui-ext-pager-pagesize .ui-select {
    margin: 0 3px;
    color: #333;
    text-align: left;
}